---
layout: single
---

<h3 class="archive__subtitle">About</h3>

<p> Welcome! This website describes the activities of the research group led by Dr. Christopher D. Cooper, based in the <a href="http://mecanica.usm.cl/" style="color:#52adc8;">Departament of Mechanical Engineering</a> of <a href="http://usm.cl/" style="color:#52adc8;">Universidad Técnica Federico Santa María</a> (USM), in Valparaíso, Chile. Our research interest is in the development of fast and accurate computational models for molecular electrostatics and solvation, mainly using implicit solvent models and boundary integral methods.</p>


<h3 class="archive__subtitle">News</h3>

<span style="font-size: 12pt;">
[2024/05/09] Some of the activities in our group were highlighted in <a href="https://www.cooperativaciencia.cl/ciencia/2024/05/09/estudian-la-electroestatica-de-proteinas-para-conocer-virus-zika/" style="color:#52adc8;"> Cooperativa Ciencia</a>, a local news site!<br>
[2024/01/19] Big news: Sergio passed his qualifying exam and is a PhD candidate. Congrats to Sergio! Looking forward to his thesis.<br>
[2024/01/15] Massive turnout of the group in <a href="https://www.ci2ma.udec.cl/wonapde2024/" style="color:#52adc8;"> WONAPDE2024</a>, in Concepción. Mauricio, Martín, Miguel, and Christopher presented their results and enjoyed a great conference. <br>
[2023/12/21] New paper! A great collaboration with UK-based friends resulted in a <a href="https://onlinelibrary.wiley.com/doi/10.1002/jcc.27262" style="color:#52adc8;"> JCC</a> article where we couple finite and boundary elements to overcome some of the limitations behind BEM in electrostatic calculations. Check it out! <br>
[2023/11/12] Sergio and Willy presented their work in the poster session of the <a href="https://www.congresonanotecnologia.com/" style="color:#52adc8;"> Congreso Nacional de Nanotecnología</a>, in beautiful Pucón, Chile.   <br>
[2023/10/12] Now it was Byron's turn for an excellent final presentation, continuing Camila's work on quantifying the impact of nonlinearities in the PB equation. <br>
[2023/08/25] Camila Pérez gave her final presentation with flying colors! New top engineer is out. Special thanks to Dr. Marcia Fenley for co-supervising Camila! <br>
[2023/06/26] A lot of the group's work was presented in the <a href="https://proteinelectrostatics.org/" style="color:#52adc8;"> Protein Electrostatics Conference</a> in Genova, Italy. The presentation is available on <a href="https://www.youtube.com/watch?v=DZx8_HUUUCs&list=PLiK1Mts404EQ15CIrDsNXM4McSNLP8wde&index=14" style="color:#52adc8;"> YouTube</a> <br>
[2023/04/28] Paper alert! Ian's undergraduate project is now a publication in <a href="https://pubs.acs.org/doi/10.1021/acs.jctc.3c00021" style="color:#52adc8;"> JCTC</a>. Want to compute forces accurately? Use BEM! <br>
[2023/03/06] New year, new students. Three Master's students join the group: Eduardo Hasbún and Martín Achondo who come from our own undergraduate program, and Willy Menacho, a physicist from Bolivia.  <br>
[2023/03/01] Christopher participated of the SIAM CSE23 conference, with a talk on using BEM for molecular electrostatics.  <br>
[2023/02/23] Christopher visited Timo Betcke's group at UCL to work on FEM-BEM coupling for molecular electrostatics, and gave a talk in the UCL-Imperial Numerics Seminar. <br>
[2022/12/05] Now it was Mauricio's turn to excel in his Master's thesis presentation. Congratulations Mauricio, and looking forward to great science during your PhD! <br>
[2022/11/16] Sergio defended his Master's thesis with flying colors. More to come in his PhD! <br>
[2022/10/21] Paper out! A collaboration through the PhD work from visitor Manuel Ruiz is now in <a href="https://doi.org/10.1021/acs.jpcb.2c05371" style="color:#52adc8;"> JPCB</a>. A very nice study of the interaction of hydrogenases and surfaces with a cool application in hydrogen production! <br>
[2022/08/03] New paper! An application of Ian Addison-Smith's undergraduate thesis to the interaction of a virus capsid with an AFM went into this great piece of work published in<a href="https://doi.org/10.1039/D2NR02526D" style="color:#52adc8;"> Nanoscale</a>. Joint work with Horacio V. Guzmán, from Jozef Stefan Institute. Congrats Ian! <br>
[2022/07/12] Paper alert! First-first author paper for the first PhD student of the group. Congratulations Sergio! His Master's thesis work is now published in <a href="https://doi.org/10.1021/acs.jpcb.2c03118" style="color:#52adc8;"> JPCB</a>. Great collaboration with Carlos García, from Clemson. <br>
[2022/06/17] Manuel Ruiz, a PhD student working with Guido Raos at Politecnico di Milano, is visiting us for a few months. He will be working on simulations of thermotolerant hydrogenases interacting with surfaces. Looking forward to some great science the coming months! <br>
[2022/06/03] Christopher presents advances of <a href="https://github.com/bem4solvation/pbj" style="color:#52adc8;"> PBJ</a> for polarizable force fields at the Tinker Developer Workshop in Bethesda, MD. <br>
[2022/03/11] Congratulations to the newest ME graduate! Ian got maximum score on his undergraduate thesis work on force calculations with implicit-solvents using BEM. <br>
[2022/02/24] New paper out! Stefan's undergraduate thesis on finding efficient boundary integral formulations of the PB equation made it to <a href="https://onlinelibrary.wiley.com/doi/10.1002/jcc.26825" style="color:#52adc8;"> JCC</a>. Great collaboration with Elwin van't Wout (PUC). <br>
[2022/02/08] Sergio Urzúa got the highly competitive ANID fellowship to continue his doctoral studies in out group. Looking forward to some great science the next few years! <br>
[2022/01/28] Now it was Elmo Begazo's turn to graduate. His work moved us forward towards generating efficient meshes for molecular surfaces. Great job! <br>
[2022/01/20] New graduate from the group! Kenneth's work on SLIC for hydration asymmetry and PBJ got 100/100. Congrats! <br>
[2021/12/09] Solid presentation from Ignacio Muñoz for his undergraduate thesis work got maximum score. Beautiful work on free energy calculations of nonpolar solvation, co-advised with José Antonio Gárate (Universidad de Valparaíso). Congratulations! <br> 
[2021/12/01] Mauricio Guerrero was accepted in the doctoral program to continue working with us towards a PhD. Way to go, Mauricio! <br>
[2021/10/15] Christopher receives an Excellence in Teaching award (Maestro Destacado).  <br>
[2021/10/08] Sergio Urzúa and Mauricio Guerrero presented their work in the <a href="https://jmc-2021.web.app/" style="color:#52adc8;"> XIX Jornada de Mecánica Computacional</a>, hosted by USM. Great job Sergio and Mauricio! <br>
[2021/10/07] New website!
</span>

{{ content }}
{% capture home_include %}{% include home.md %} {% endcapture %}
<!--{{ home_include | markdownify }}-->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
