---
layout: single
---

<h3 class="archive__subtitle">About</h3>

<p> Welcome! This website describes the activities of the research group led by Dr. Christopher D. Cooper, based in the <a href="http://mecanica.usm.cl/" style="color:#52adc8;">Departament of Mechanical Engineering</a> of <a href="http://usm.cl/" style="color:#52adc8;">Universidad Técnica Federico Santa María</a> (USM), in Valparaíso, Chile. Our research interest is in the development of fast and accurate computational models for molecular electrostatics and solvation, mainly using implicit solvent models and boundary integral methods.</p>


<h3 class="archive__subtitle">News</h3>

<span style="font-size: 12pt;"> 
[2022/03/11] Congratulations to the newest ME graduate! Ian got maximum score on his undergraduate thesis work on force calculations with implicit-solvents using BEM on his undergraduate thesis work on force calculations with implicit-solvents using BEM. <br>
[2022/02/24] New paper out! Stefan's undergraduate thesis on finding efficient boundary integral formulations of the PB equation made it to <a href="https://onlinelibrary.wiley.com/doi/10.1002/jcc.26825" style="color:#52adc8;"> JCC</a>. Great collaboration with Elwin van't Wout (PUC). <br>
[2022/02/08] Sergio Urzúa got the highly competitive ANID fellowship to continue his doctoral studies in out group. Looking forward to some great science the next few years! <br>
[2022/01/28] Now it was Elmo Begazo's turn to graduate. His work moved us forward towards generating efficient meshes for molecular surfaces. Great job! <br>
[2022/01/20] New graduate from the group! Kenneth's work on SLIC for hydration asymmetry and PBJ got 100/100. Congrats! <br>
[2021/12/09] Solid presentation from Ignacio Muñoz for his undergraduate thesis work got maximum score. Beautiful work on free energy calculations of nonpolar solvation, co-advised with José Antonio Gárate (Universidad de Valparaíso). Congratulations! <br> 
[2021/12/01] Mauricio Guerrero was accepted in the doctoral program to continue working with us towards a PhD. Way to go, Mauricio! <br>
[2021/10/15] Christopher receives an Excellence in Teaching award (Maestro Destacado).  <br>
[2021/10/08] Sergio Urzúa and Mauricio Guerrero presented their work in the <a href="https://jmc-2021.web.app/" style="color:#52adc8;"> XIX Jornada de Mecánica Computacional</a>, hosted by USM. Great job Sergio and Mauricio! <br>
[2021/10/07] New website!
</span>

{{ content }}
{% capture home_include %}{% include home.md %} {% endcapture %}
<!--{{ home_include | markdownify }}-->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
