---
layout: single
---

<h3 class="archive__subtitle">About</h3>

<p> Welcome! This website describes the activities of the research group led by Dr. Christopher D. Cooper, based at the <a href="http://mecanica.usm.cl/" style="color:#52adc8;">Departament of Mechanical Engineering</a> of <a href="http://usm.cl/" style="color:#52adc8;">Universidad Técnica Federico Santa María</a> (USM), in Valparaíso, Chile. Our research interest is in the development of fast and accurate computational models for molecular electrostatics and solvation, mainly using implicit solvent models and boundary integral methods.</p>


<h3 class="archive__subtitle">News</h3>

<span style="font-size: 12pt;"> 
[2021/10/07] New website!
</span>

{{ content }}
{% capture home_include %}{% include home.md %} {% endcapture %}
{{ home_include | markdownify }}

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
